# CI for top-level README.md. Not for the containing crates - just checks the markdown.
name: main-readme

on:
  push:
    branches: [main]
  pull_request:

jobs:
  markdownlint:
    name: Markdown Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Run markdownlint on top-level README
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          globs: README.md
